<!DOCTYPE html>
<html>
<head>
  <title>Enginetest</title>
  <%= stylesheet_link_tag    "enginetest/application", :media => "all" %>
  <%= javascript_include_tag "enginetest/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
